
<div class="student-list">
  <div>
    <div class="class1">
    <h2>listOfSubjects</h2>
    <button *ngIf="!showNewSubject"(click)="showNewSubject = true">Add</button>
    <button *ngIf="showNewSubject"(click)="showNewSubject = true">Cancel</button>
  </div>
  </div>
  <app-new-student *ngIf="showNewSubject"
  (save)="onSave($event)"
  ></app-new-student>
  
  <app-student
    *ngFor="let subject of listOfSubjects"
    [subject]="subject"
    (delete)="onDelete($event)"
    ></app-student>
</div>

<router-outlet></router-outlet>