/* You can add global styles to this file, and also import other style files */
button{
    padding: 8px;
    border-radius: 10px;
    color: white;
    background-color: rgb(49, 49, 97);
    cursor: pointer;
    
}